<div id="failModal" class="modal" style="background-color:#2e2e2e;">

    <div class="modal-content center-align" style="background-color:#2e2e2e;">
        <h2>Please enter valid login information!</h2>
    </div>
    <div class="col m12 center-align" style="background-color:#2e2e2e;">
        <a id="retryButton" href="" class="modal-close btn waves-effect grey darken-3 waves-light"
            style="margin-bottom: 33px;">Retry</a>
    </div>
</div>