{{!-- <div id="successModal" class="modal" style="background-color:#2e2e2e;">
    <div class="col m12 center-align" style="background-color:#2e2e2e;">
        <a id="continueButton" href="" class="modal-close btn waves-effect grey darken-3 waves-light"
            style="margin-bottom: 33px;">Continue</a>
    </div>
</div> --}}
<style>
.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    /* bottom: 0; */
    left: 0;
    z-index: 7050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}
</style>

<div id="successModal" class="modal" style="background-color:#2e2e2e;">

    <div id="modalPicture" class="col m8 offset-m2 center-align" style="margin-top: 20px;">
        <img id="theModalPicture" class="responsive-img" src="">
    </div>

    <div class="modal-content center-align" style="background-color:#2e2e2e;">
        <audio autoplay name="media" id="theSuperSecretAudio" style="margin-top:5%;">
            <source id="audioSourceMp3" src="" type="audio/mpeg">
            <source id="audioSourceOgg" src="" type="audio/ogg">
            <source id="audioSourceWav" src="" type="audio/wav">
            Your browser does not support the HTML5 Audio element.
        </audio>
    </div>
    {{!-- <div class="modal-footer" style="background-color:#2e2e2e;"> --}}
    <div class="col m12 center-align" style="background-color:#2e2e2e;">
        <a id="continueButton" href="" class="modal-close btn waves-effect grey darken-3 waves-light"
            style="margin-bottom: 33px;">Continue</a>
    </div>
</div>