{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  $(document).on("click", ".icon.top", function toggleState() {
    var state = $(this).attr("data-state");

    if (state === "default") {
      { { !-- var defaultVal = $(this).attr("data-default"); --} }
      $(this).addClass("selected");
      $(this).attr("data-state", "selected");
    } else if (state === "selected") {
      { { !-- var selectedVal = $(this).attr("data-selected"); --} }
      $(this).addClass("selected");
      $(this).attr("data-state", "default");
    }
  }); //toggleState closing tag

</script> --}}



<div id="genres">
  <div class="container">
    <h1 style="text-align: center;">Select Your Preferred Genres</h1>
    <div class="row">
      <div class="col s2">
        <div class="genre-icon" data-state="default">
          <img class="icon bottom" src="img/icons8-action-100-blue.png">
          <img class="icon top" src="img/icons8-action-100.png" alt="fist" data-state="default"
            data-default="img/icons8-action-100.png" data-selected="img/icons8-action-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-trekking-100-blue.png">
          <img class="icon top" src="img/icons8-trekking-100.png" alt="person trekking" data-state="default"
            data-default="img/icons8-trekking-100.png" data-selected="img/icons8-trekking-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-animation-100-blue.png">
          <img class="icon top" src="img/icons8-animation-100.png" alt="animation icon" data-state="default"
            data-default="img/icons8-animation-100.png" data-selected="img/icons8-animation-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-lol-100-blue.png">
          <img class="icon top" src="img/icons8-lol-100.png" alt="laughing emoji" data-state="default"
            data-default="img/icons8-lol-100.png" data-selected="img/icons8-lol-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-handcuffs-100-blue.png">
          <img class="icon top" src="img/icons8-handcuffs-100.png" alt="Handcuffs" data-state="default"
            data-default="img/icons8-handcuffs-100.png" data-selected="img/icons8-handcuffs-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-documentary-100-blue.png">
          <img class="icon top" src="img/icons8-documentary-100.png" alt="video camera" data-state="default"
            data-default="img/icons8-documentary-100.png" data-selected="img/icons8-documentary-100-blue.png">
        </div>
      </div>
    </div>
    <!--End row-->

    <div class="row">
      <div class="col s2">
        <p class="genre-name">Action</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Adventure</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Animation</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Comedy</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Crime</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Documentary</p>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-theatre-mask-100-blue.png">
          <img class="icon top" src="img/icons8-theatre-mask-100.png" alt="drama masks happy sad" data-state="default"
            data-default="img/icons8-theatre-mask-100.png" data-selected="img/icons8-theatre-mask-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-family-100-blue.png">
          <img class="icon top" src="img/icons8-family-100.png" alt="icon of family" data-state="default"
            data-default="img/icons8-family-100.png" data-selected="img/icons8-family-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-dragon-100-blue.png">
          <img class="icon top" src="img/icons8-dragon-100.png" alt="dragon" data-state="default"
            data-default="img/icons8-dragon-100.png" data-selected="img/icons8-dragon-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-historical-96-blue.png">
          <img class="icon top" src="img/icons8-historical-96.png" alt="hourglass" data-state="default"
            data-default="img/icons8-historical-96.png" data-selected="img/icons8-historical-96-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-horror-100-blue.png">
          <img class="icon top" src="img/icons8-horror-100.png" alt="bloody knife" data-state="default"
            data-default="img/icons8-horror-100.png" data-selected="img/icons8-horror-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-musical-notes-100-blue.png">
          <img class="icon top" src="img/icons8-musical-notes-100.png" alt="musical notes" data-state="default"
            data-default="img/icons8-musical-notes-100.png" data-selected="img/icons8-musical-notes-100-blue.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <p class="genre-name">Drama</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Family</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Fantasy</p>
      </div>
      <div class="col s2">
        <p class="genre-name">History</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Horror</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Musical</p>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-detective-100-blue.png">
          <img class="icon top" src="img/icons8-detective-100.png" alt="detective" data-state="default"
            data-default="img/icons8-detective-100.png" data-selected="img/icons8-detective-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-romance-100-blue.png">
          <img class="icon top" src="img/icons8-romance-100.png" alt="two hearts" data-state="default"
            data-default="img/icons8-romance-100.png" data-selected="img/icons8-romance-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-sci-fi-100-blue.png">
          <img class="icon top" src="img/icons8-sci-fi-100.png" alt="U.F.O." data-state="default"
            data-default="img/icons8-sci-fi-100.png" data-selected="img/icons8-sci-fi-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-running-100-blue.png">
          <img class="icon top" src="img/icons8-running-100.png" alt="icon of person running" data-state="default"
            data-default="img/icons8-running-100.png" data-selected="img/icons8-running-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-army-tank-80-blue.png">
          <img class="icon top" src="img/icons8-army-tank-80.png" alt="army tank" data-state="default"
            data-default="img/icons8-army-tank-100.png" data-selected="img/icons8-army-tank-100-blue.png">
        </div>
      </div>

      <div class="col s2">
        <div class="genre-icon">
          <img class="icon bottom" src="img/icons8-western-100-blue.png">
          <img class="icon top" src="img/icons8-western-100.png" alt="Cactus" data-state="default"
            data-default="img/icons8-western-100.png" data-selected="img/icons8-western-100-blue.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <p class="genre-name">Mystery</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Romance</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Sci-fi</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Thriller</p>
      </div>
      <div class="col s2">
        <p class="genre-name">War</p>
      </div>
      <div class="col s2">
        <p class="genre-name">Western</p>
      </div>
    </div>

  </div>
</div>

</div>
</div>
</div>
</div>

<a href={{{nextPage}}} id="genre-submit" class="btn btn-primary btn-block" type="submit" value="submit"
  style="margin:auto; text-align: center; background-color: #003399">Submit</a>


</div>
</div>


</div>
</div>
</div>
</div>


<script>
  $(document).on("click", ".icon.top", function toggleState() {
    var state = $(this).attr("data-state");

    if (state === "default") {
      var defaultVal = $(this).attr("data-default");
      $(this).addClass("selected");
      $(this).attr("data-state", "selected");
    } else if (state === "selected") {
      var selectedVal = $(this).attr("data-selected");
      $(this).addClass("selected");
      $(this).attr("data-state", "default");
    }
  }); //toggleState closing tag

</script>