<header>

  <nav>
    <div class="nav-wrapper">
      <img id="logo" src="img/whaddyalogo.jpg" alt="logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
</header>

<div id="genres">
  <div class="container">

    <button class="genre-icon">
      <img src="img/icons8-action-100.png" alt="fist">
      <p class="genre-name">Action</p>
    </button>

    <div class="genre-icon">
      <img src="img/icons8-trekking-100.png" alt="person trekking">
      <p class="genre-name">Adventure</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-animation-100.png" alt="animation icon">
      <p class="genre-name">Animation</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-lol-100.png" alt="laughing emoji">
      <p class="genre-name">Comedy</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-handcuffs-100.png" alt="Handcuffs">
      <p class="genre-name">Crime</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-documentary-100.png" alt="video camera">
      <p class="genre-name">Documentary</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-theatre-mask-100.png" alt="drama masks happy sad">
      <p class="genre-name">Drama</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-family-100.png" alt="icon of family">
      <p class="genre-name">Family</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-dragon-100.png" alt="dragon">
      <p class="genre-name">Fantasy</p>
    </div>


    <div class="genre-icon">
      <img src="img/icons8-historical-96.png" alt="hourglass">
      <p class="genre-name">History</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-horror-100.png" alt="bloody knife">
      <p class="genre-name">Horror</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-musical-notes-100.png" alt="musical notes">
      <p class="genre-name">Musical</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-detective-100.png" alt="detective">
      <p class="genre-name">Mystery</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-romance-100.png" alt="two hearts">
      <p class="genre-name">Romance</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-sci-fi-100.png" alt="U.F.O.">
      <p class="genre-name">Science Fiction</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-running-100.png" alt="icon of person running">
      <p class="genre-name">Thriller</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-army-tank-80.png" alt="army tank">
      <p class="genre-name">War</p>
    </div>

    <div class="genre-icon">
      <img src="img/icons8-western-100.png" alt="Cactus">
      <p class="genre-name">Western</p>
    </div>

  </div>
</div>

</div>
</div>
</div>
</div>


<footer>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>