Simple Login Page
</h1>
<form name="login">
    Username<input type="text" name="userid" />
    Password<input type="password" id="onePassword" name="pswrd" />
    <a onclick="submitStep();">Submit</a>
    <input type="reset" value="Cancel" />
    <input type="hidden" id="login" name="login" value="{{login}}">

</form>