<form name="login">
    Username<input type="text" name="userid" />
    Password<input type="password" id="onePassword />
    <input type=" button" onclick="submitStep();" value="Submit" />
    <input type="reset" value="Cancel" />
    <a onclick="submitStep();" class="waves-effect waves-light btn grey lighten-5" style="color:black;">subStep</a>
    <input type="hidden" id="login" name="login" value="{{login}}">
</form>