<div id="platforms">
  <div class="container">

    <h1 style="text-align: center;">Select Your Viewing Platforms</h1>

    <div class="platform-icon">
      <img src="img/platforms/icons8-amazon-100.png" alt="amazon logo">
      <p class="platform-name">Amazon Prime</p>
    </div>

    <div class="platform-icon">
      <img src="img/platforms/icons8-apple-tv-100-white-outline.png" alt="apple tv logo">
      <p class="platform-name">Apple TV+</p>
    </div>

    <div class="platform-icon">
      <img src="img/platforms/icons8-animation-100-white.png" alt="google play logo">
      <p class="platform-name">Disney+</p>
    </div>

    <div class="platform-icon">
      <img src="img/platforms/icons8-google-play-100-white-outline.png" alt="google play logo">
      <p class="platform-name">Google Play</p>
    </div>

    <div class="platform-icon">
      <img src="img/platforms/icons8-hulu-100-white.png" alt="hulu logo">
      <p class="platform-name">Hulu</p>
    </div>

    <div class="platform-icon">
      <img src="img/platforms/icons8-netflix-100.png" alt="netflix logo">
      <p class="platform-name">Netflix</p>
    </div>

    <button id="platform-submit" class="btn btn-primary btn-block" type="submit" value="submit"
      style="margin:auto; text-align: center; background-color: #003399">Submit</button>

  </div>
</div>