
<div id="successModal" class="modal" style="background-color:#2e2e2e;">

    <div class="modal-content center-align" style="background-color:#2e2e2e;">
    </div>
    <div class="col m12 center-align" style="background-color:#2e2e2e;">
        <a id="continueButton" href="" class="modal-close btn waves-effect grey darken-3 waves-light"
            style="margin-bottom: 33px;">Continue</a>
    </div>
</div>