<div id="cards">
  <div class="container">


    {{!-- begin demo cards --}}
    <div class="demo">
      <header class="demo__header"></header>
      <div class="demo__content">
        <div class="demo__card-cont">

          <div class="demo__card">
            <div class="demo__card__top brown">
              <div class="options-image">
                <img src="{{Options_img}}" alt="movie image">
              </div>
              <p class="movie-name">{{Options_title}}</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">{{Options_platform}}</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          
          
        </div>
        <p class="demo__tip">Swipe left or right</p>
      </div>
    </div>
    {{!-- end demo cards --}}


  </div>
</div>