<header>

  <nav>
    <div class="nav-wrapper">
      <img id="logo" src="img/whaddyalogo.jpg" alt="logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>


</header>

<div id="home">
  <div class="container">


    {{!-- begin demo cards --}}
    <div class="demo">
      <header class="demo__header"></header>
      <div class="demo__content">
        <div class="demo__card-cont">

          <div class="demo__card">
            <div class="demo__card__top brown">
              <div class="demo__card__img"> 
                <img src="img/icons8-documentary-100.png" alt="video camera">
              </div>
              <p class="demo__card__name">Documentary</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">1</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="demo__card__img"> 
                <img src="img/icons8-running-100.png" alt="icon of person running">
              </div>
              <p class="demo__card__name">Thriller</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">2</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top cyan">
                    <div class="demo__card__img"> 
                <img src="img/icons8-lol-100.png" alt="laughing emoji">
              </div>
              <p class="demo__card__name">Comedy</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">3</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top indigo">
              <div class="demo__card__img"> 
                <img src="img/icons8-theatre-mask-100.png" alt="drama masks happy sad">
              </div>
              <p class="demo__card__name">Drama</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">4</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top blue">
              <div class="demo__card__img"> 
                <img src="img/icons8-horror-100.png" alt="bloody knife">
              </div>
              <p class="demo__card__name">Horror</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">5</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top purple">
              <div class="demo__card__img"> 
                <img src="img/icons8-action-100.png" alt="fist">
              </div>
              <p class="demo__card__name">Action</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">6</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top purple">
              <div class="demo__card__img"> 
                <img src="img/icons8-romance-100.png" alt="two hearts">
              </div>
              <p class="demo__card__name">Romance</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">7</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top purple">
              <div class="demo__card__img"> 
                <img src="img/icons8-detective-100.png" alt="detective">
              </div>
              <p class="demo__card__name">Mystery</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">8</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top brown">
              <div class="demo__card__img"> 
                <img src="img/icons8-sci-fi-100.png" alt="U.F.O.">
              </div>
              <p class="demo__card__name">Science Fiction</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">9</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="demo__card__img"> 
                <img src="img/icons8-handcuffs-100.png" alt="Handcuffs">
              </div>
              <p class="demo__card__name">Crime</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">10</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top cyan">
              <div class="demo__card__img"> 
                <img src="img/icons8-family-100.png" alt="icon of family">
              </div>
              <p class="demo__card__name">Family</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">11</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top indigo">
              <div class="demo__card__img"> 
                <img src="img/icons8-western-100.png" alt="Cactus">
              </div>
              <p class="demo__card__name">Western</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">12</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top blue">
              <div class="demo__card__img"> 
                <img src="img/icons8-trekking-100.png" alt="person trekking">
              </div>
              <p class="demo__card__name">Adventure</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">13</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top purple">
              <div class="demo__card__img"> 
                <img src="img/icons8-dragon-100.png" alt="dragon">
              </div>
              <p class="demo__card__name">Fantasy</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">14</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top purple">
              <div class="demo__card__img"> 
                <img src="img/icons8-animation-100.png" alt="animation icon">
              </div>
              <p class="demo__card__name">Animation</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">15</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top purple">
              <div class="demo__card__img"> 
                <img src="img/icons8-historical-96.png" alt="hourglass">
              </div>
              <p class="demo__card__name">History</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">16</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
          <div class="demo__card">
            <div class="demo__card__top brown">
              <div class="demo__card__img"> 
                <img src="img/icons8-musical-notes-100.png" alt="musical notes">
              </div>
              <p class="demo__card__name">Musical</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">17</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="demo__card__img"> 
                <img src="img/icons8-army-tank-80.png" alt="army tank">
              </div>
              <p class="demo__card__name">War</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">18</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
        </div>
        <p class="demo__tip">Swipe left or right</p>
      </div>
    </div>
    {{!-- end demo cards --}}


  </div>
</div>

<footer><a target="_blank" href="https://icons8.com/icons/set/animation">Animation</a>, <a target="_blank"
    href="https://icons8.com/icons/set/dragon">Dragon</a> and other icons by <a target="_blank"
    href="https://icons8.com">Icons8</a></footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>